*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body{
    overflow-x: hidden;
}

#map{
    width: 100vw;
    min-height: 90vh;
}

.title{
    font-size: 18px;

}

.event-card{
    width: 400px;
    padding: 10px 10px 10px;
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-details-btn {
    text-decoration: none;
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    transition: all .3s ease-in-out;
}

.event-details-btn:hover{
    transform: translateY(-5px);
    background: #2422f5;
}

.greeting{
    padding: 10px;
    margin-right: 10px;
}

.leaflet-popup-content-wrapper {
    border-radius: 10px;
    padding-top: 20px;
    width: 400px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    border-radius: 2px;
    margin: 0;
}

.date{
    color: crimson;
    font-weight: bold;
}