.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    gap: 0;
}

.button{
    padding: 10px 32px;
    text-decoration: none;
    color: white;
    transition: all .3s ease-in-out;
}

.active{
    background-color: #2d56fa;
}

.events-btn{
    border-radius: 10px 10px 100px 10px;
    border: 1px solid #1c48f8;
}

.users-btn{
    color: #1c48f8;
}

.buttons-wrapper{
    padding: 7px 0;
    border-radius: 10px;
    border: 1px solid #1c48f8;
    box-sizing: border-box;
}

.inactive{
    background-color: white;
    color: #1c48f8;
}

.event-details-link{
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.event-details-link span:hover{
    text-decoration: underline;
}